@"
DB_NAME=platform_db
DB_USERNAME=platform_user
DB_PASSWORD=platform_pass
DB_PORT=5432
MONGO_DB=platform_mongo
MONGO_PORT=27017
REDIS_PORT=6379
SERVER_PORT=8080
"@ | Set-Content -Path ".env" -Encoding utf8